*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("../images/background.jpeg");
  /* filter: blur(8px); */
}

/* HEADER */
header {
  font-weight: bolder;
  font-size: 25px;
}
#highScore {
  text-decoration: none;
}

.timestyle {
  float: right;
}

main {
  margin-top: 100px;
  text-align: center;
  width: 800px;
  max-width: 80%;
  background-color: rgb(205, 237, 243);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  /* display: inline-block; */
}
.question-container {
  width: 800px;
  max-width: 80%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.button {
  display: block;
  gap: 20px;
  margin: 20px 0;
  font-size: 15px;
}

button:hover {
  background-color: rgb(189, 253, 253);
}

.hide {
  display: none;
}

#highscore-list {
  text-align: center;
  list-style-position: inside;
}

/* FOOTER */
footer {
  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 10px;
  font-weight: bolder;
}
